# 1.Create a empty list and check its Data type

In [1]:
a=[]
type(a)

list

# 2.Create a list in which at even places string are present and at odd places integervalue is present and the length of the string is 6.

In [44]:
c=[1,"a",3,"b",4,"c"]
len(c)

6

# 3.Create a list which has 6 elements and print last three elements from the list

In [13]:
b=[1,2,3,4,5,6]
b[3:6]

[4, 5, 6]

# 4.What is the output : list = [1,2,3,4,5,6,7]     list[:]=?

In [14]:
list = [1,2,3,4,5,6,7]
list[:]

[1, 2, 3, 4, 5, 6, 7]

# 5.What is the output : list = [1,2,3,4,5,6,7] Print the even places items from the list.

In [22]:
list1=[1,2,3,4,5,6,7]
list1[1::2]

[2, 4, 6]

# 6.What is the output : list = [1,2,3,4,10,11,7]print 10 and 11 item from the list .

In [24]:
list1=[1,2,3,4,10,11,7]
list1[4:6]

[10, 11]

# 7.Delete the 3 index value from the list and the print the list. list = [1, 2, 3, 4, 5, 6]  print(list)

In [29]:
list1=[1,2,3,4,5,6]
list1.remove(3)
list1

[1, 2, 4, 5, 6]

# 8.list = [1, "a", 3, 4, 5, 6]. replace "a" by 2 in the list. What is the new list?

In [33]:
list1=[1,"a",3,4,5,6]
list1[1]=2
list1

[1, 2, 3, 4, 5, 6]

# 9.list = [1, 2, 3, 4, 5, 6]by using neagtive indexing replace 5 by 'e' in the list. print(list)

In [35]:
list2 = [1, 2, 3, 4, 5, 6]
list2[-2]="e"
list2

[1, 2, 3, 4, 'e', 6]

# 10.list = [1, 2, 3, 4, 5, 6] replace 1st and 2nd index value by (89,78) print(list)

In [36]:
list3=[1,2,3,4,5,6]
list3[1:2]=(89,78)
list3

[1, 89, 78, 3, 4, 5, 6]

# 11.Rermove Science item from the list. Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']

In [43]:
subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']
subject.remove('science')
subject

['math', 'hindi', 'SST', 'Sanskrit']